<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title th:text="'Aggiungi Profilo'">Aggiungi Profilo</title>
</head>
<body class="bg-light">
<div layout:fragment="content">
    <h1 class="text-center">Aggiungi Nuovo Profilo</h1>
    <form th:action="@{/profiles/add}" method="post" th:object="${newProfile}" class="mt-4">
        <!-- Campi esistenti -->
        <div class="mb-3">
            <label for="name" class="form-label">Username:</label>
            <input type="text" id="name" th:field="*{username}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">Nome:</label>
            <input type="text" id="firstName" th:field="*{firstName}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Cognome:</label>
            <input type="text" id="lastName" th:field="*{lastName}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Numero di telefono:</label>
            <input type="number" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="roles" class="form-label">Ruolo:</label>
            <select id="roles" th:field="*{roles}" multiple="multiple" class="form-control">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
            <small>Premi Ctrl (Windows) o Command (Mac) per selezionare più ruoli</small>
        </div>

        <button type="submit" class="btn btn-primary w-100">Aggiungi Profilo</button>
    </form>
</div>
</body>
</html>
